<!DOCTYPE html>
<html lang="en">
  <%- include("../template/head.ejs") %>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div class="container">
      <div class="addnew">
        <form action="/add/" method="post" class="form" id="form">
          <div class="spaces">
            <div class="form-item">
              <label for="imp-name">Enter the name:</label>
              <input id="imp-name" type="text" name="imp-name" required />
            </div>
            <div class="form-item">
              <label for="imp-description">Give a description:</label>
              <textarea
                id="imp-description"
                name="imp-description"
                cols="30"
                rows="6"
              ></textarea>
            </div>
            <div class="form-item">
              <label for="imp-price">Give the price:</label>
              <div>
                <input
                  id="imp-price"
                  type="number"
                  name="imp-price"
                  min="0"
                  required
                />
                <select name="imp-divisa">
                  <% if ( values != 1) { %> <% values.forEach(element => {%>
                  <option value="<%= element[0] %>">
                    <%= element[0] %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%=
                    element[1] %>
                  </option>
                  <% }) %> <% } else { %>
                  <option value="err">Error</option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
          <button class="btn-submit" type="submit">Add Item</button>
        </form>
      </div>

      <%- include("../template/list.ejs", values) %>
    </div>
  </body>
</html>
