<div class="list-container">
  <!-- Show the total cost -->
  <div class="cost-container">
    <div class="cost__text">
      <h3>The total cost is:</h3>
      <h1><span id="total-cost">0.00</span></h1>
    </div>
    <div class="cost__values">
      <select class="cost__selectdiv" id="select-div">
        <% if ( values != 1) { %> <% values.forEach(element => {%>
        <option value="<%= element[0] %>" <% if (element[0] == 'EUR') { %>
          selected
        <% } %>>
          <%= element[0] %>
        </option>
        <% }) %> <% } else { %>
        <option value="err">Error</option>
        <% } %>
      </select>
    </div>
  </div>

  <!-- Cards container -->
  <!-- Elements that are uncopleted -->
  <% if (list) { %> <% list.forEach(element => {%> <% if (!element['state']) {%>

  <div class="card-item" id="<%= element['id'] %>">
    <div class="items-container">
      <div class="card__check">
        <input id="check-<%= element['id'] %>" type="checkbox"
        class="card__check-box" <% if (element['state']) { %> checked <% } %> />
      </div>
      <div class="card__text">
        <h1><%= element['imp-name'] %></h1>
        <p><%= element['imp-description'] %></p>
      </div>
    </div>
    <div class="card__value">
      <h1>
        <span id="txt-value-<%= element['id'] %>"
          ><%= new Intl.NumberFormat().format(element['imp-price']) %></span
        >
        <span class="txt-div"
          ><%= element['imp-divisa'] %></span
        >
      </h1>
    </div>
  </div>
  <% } %> <% }); %> <% list.forEach(element => {%> <% if (element['state']) { %>

  <div class="card-item completed" id="<%= element['id'] %>">
    <div class="items-container">
      <div class="card__check">
        <input
          id="check-<%= element['id'] %>"
          type="checkbox"
          class="card__check-box"
          checked
        />
      </div>
      <div class="card__text">
        <h1><%= element['imp-name'] %></h1>
        <p><%= element['imp-description'] %></p>
      </div>
    </div>
    <div class="card__value">
      <h1>
        <span id="txt-value-<%= element['id'] %>"
          ><%= new Intl.NumberFormat().format(element['imp-price']) %></span
        >
        <span class="txt-div">
        <%= element['imp-divisa'] %></span
        >
      </h1>
    </div>
  </div>
  <% } %> <% }); %> <% } %>

  <a class="btn btn-delete" id="btn-clear-finished">Delete Finished</a>
</div>
